<div class="container ">
  <nav class="rounded-4 shadow" style="height: calc(100vh - 32px);" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">

    <div class=" d-flex justify-content-rounded align-items-center bg-brand-primary rounded-top-4">
      <div class="w-100" style="height: 4rem;">
        <button type="button" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}" class="btn h-100">
          <img src='../../../../assets/public/img/sac_w.svg' alt="logo SAC" class="h-100">
        </button> 
      </div> 
      <button (click)="wrap=!wrap"
        class="d-flex me-3 align-items-center justify-content-center btn btn-light rounded-circle"
        style=" width: 2rem; height: 2rem;" type="button">
        <i class="fa-solid" [ngClass]="{'fa-chevron-left':wrap === true, 'fa-chevron-right':wrap ===false}"></i>
      </button>
    </div>

    <div class="overflow-y-scroll p-2 border bg-light" style="max-height: calc(100vh - 12rem); height:calc(100vh - 98px);" [ngClass]="{'h-auto':wrap === true, '':wrap ===false}">
      <div *ngFor="let item of sidebarProperties.availableGroups">
        <!-- <i class="fa-solid fa-chart-line"></i> -->
        <h3 class="fs-5" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">Grupo {{item.bundle}}</h3>
        <ng-container *ngTemplateOutlet="groupSection; context:{item:item.bundle}"></ng-container>
      </div>
    </div>

    <div class="overflow-hidden bg-white border border-top-0 rounded-bottom-4">
        <div class="p-2">
          <ul class="m-0">
            <li class="d-flex align-items-center mb-3" style="height: 2rem;" [ngClass]="{'':wrap === true, 'justify-content-center':wrap ===false}">
              <label for="jobcodes" class="d-flex align-items-center"><i class="fa-solid fa-user-large fs-4"></i></label>
                <span class="ms-2" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">ACAZW</span>
            </li>
            <li class="d-flex align-items-center" style="height: 2rem;" [ngClass]="{'':wrap === true, 'justify-content-center':wrap ===false}">
              <label style="cursor: pointer;" for="session" class="d-flex align-items-center"><i class="fa-solid fa-arrow-right-from-bracket fs-4"></i></label>
              <button [routerLink]="['/auth','/login']" id="session" class="btn btn-light ps-2" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">

                <span class="ms-2" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">Cerrar sesión</span>
              </button>
            </li>
          </ul>
        </div>
    </div>

  </nav>

</div>

<ng-template #groupSection let-bundle="item">
  <ul>
    <li *ngFor="let data of sidebarProperties.availableGroupsProperties">
      <button [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}" *ngIf="data.bundle === bundle" type="button"
        (click)="redirect(data.internalKey,bundle)" class="btn btn-light w-100">
        <span class="fs-6" [ngClass]="{'wrapper':wrap === true, 'wrap':wrap ===false}">{{data.internalKey}} -
          {{data.descriptiveName}}</span>
      </button>
    </li>
  </ul>
</ng-template>