

ul,li,a{
  list-style-type: none;
  padding: 0;
}

nav.wrap{
  width: 4rem;
  animation: fadeOut 0.2s ease-in-out;
}
nav.wrapper{
  width:auto;
  animation: fadeIn 0.2s ease-in-out;
}

h3, span, button{
  display: none;
  display: none;
}

h3.wrapper, span.wrapper, button.wrapper{
  display: flex;
  white-space: nowrap;
}

@keyframes fadeOut {
  from {
    width: 15rem;
  }

  to {
    width: 4rem;
  }
}


@keyframes fadeIn {
  from {
    width: 4rem;
  }

  to {
    width: 15rem;
  }
}

